// Variables
@import 'variables';

// Bootstrap
@import '~admin-lte/build/scss/AdminLTE';

@import "custom.scss";

.px-6 {
    padding-left: ($spacer * 6) !important;
    padding-right: ($spacer * 6) !important;
}

.p-6 {
    padding: ($spacer * 6) !important;
}

.text-2xl {
    font-size: 4rem;
}

.text-3xl {
    font-size: 6rem;
}
